#calc
calc/*.iml
calc/.gradle
calc/local.properties
calc/.idea/caches
calc/.idea/libraries
calc/.idea/modules.xml
calc/.idea/workspace.xml
calc/.idea/navEditor.xml
calc/.idea/assetWizardSettings.xml
calc/.DS_Store
calc/build
calc/captures
calc/.externalNativeBuild
#SapperGame
SapperGame/*.iml
SapperGame/.gradle
SapperGame/local.properties
SapperGame/.idea/caches
SapperGame/.idea/libraries
SapperGame/.idea/modules.xml
SapperGame/.idea/workspace.xml
SapperGame/.idea/navEditor.xml
SapperGame/.idea/assetWizardSettings.xml
SapperGame/.DS_Store
SapperGame/build
SapperGame/captures
SapperGame/.externalNativeBuild